include ./includes/main.pug
include ./includes/header.pug
block index
  div.indexWrap.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-md-offset-3.col-lg-offset-3
    div.index.col-lg-12.col-md-12.col-sm-12.col-xs-12#chatUserMessages
      if user.conversations
        each item, i in user.conversations
          a.linksToChat(href = 'startChat/' + (item.initializator == user.username ? item.participant : item.initializator) )
            if item.messages[item.messages.length-1]
              div.chats
                span  #{item.initializator == user.username ? item.participant : item.initializator} #{item.messages[item.messages.length-1].name != user.username ? item.messages[item.messages.length-1].name :'' }  #{item.messages[item.messages.length-1].message} в #{item.messages[item.messages.length-1].date.getHours()}:#{(item.messages[item.messages.length-1].date.getMinutes()+'').length}
            else
              div.chats #{item.chatName}
      if user.rooms
        each item, i in user.rooms
          a.linksToChat(href = '/startRoom/' + item.roomName )
            img.avatar(src = (user.avatar))
            div.chats #{item.roomName} #{item.messages[item.messages.length-1].name} написал #{item.messages[item.messages.length-1].message} в #{item.messages[item.messages.length-1].date.getHours()}:#{item.messages[item.messages.length-1].date.getMinutes().length == 1 ? '0' + item.messages[item.messages.length-1].date.getMinutes() : item.messages[item.messages.length-1].date.getMinutes() }
script(type='text/javascript', src= "https://cdn.socket.io/socket.io-1.4.5.js")
script.
  console.log()
  var user = '#{user.username}';
