include ./includes/main.pug
include ./includes/header.pug
block userPage
  div.userSWrap.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-md-offset-3.col-lg-offset-3
    p#login Логин: #{searchUser.username}
    if searchUser.avatar
      img.usAva(src= "" + searchUser.avatar.href)
    form(name = 'uploadAva' enctype="multipart/form-data")
      input(type='file' name='fileUploaded')
      input(type='submit' value = 'Загрузить аватар')
    p Почта: #{searchUser.email}
    p Уровень полномочий: #{searchUser.role}
    a(href = '/startChat/' + searchUser.username) Написать
    if (user.role == 'admin')
      div.assWrap
        div#assigned
          ul#aUL Разрешенный круг пользователей:
            each userC in searchUser.contacts
              li !{userC}
        //button#but Сохранить
        div#unassigned
          ul#uUL Все пользователи
            each userS in users
              li #{userS.username}


script.
  var USER = '#{searchUser.username}';


script(type='text/javascript', src= '/js/assignUser.js')
script(type='text/javascript', src= '/js/upload.js')
